<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album List</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h4><a href="/">Home</a></h4>
    </header>
    <main>
        <h1>Album List</h1>

        <table>
            <th:block th:each="album : ${albums}">
                <tr th:class="${album.title}">
                    <td th:text="${album}" ></td>
                    <td><a th:href="${'album/' + album.id}"><img th:src="${album.imageUrl}"></a></td>
                    <td>
                        <form method="POST" action="album/delete">
                            <input type="hidden" th:value="${album.id}" name="id">
                            <button>Delete Album</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </main>
</body>
</html>