<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album List</title>
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h4><a href="/">Home</a></h4>
    </header>
    <main>
        <h1>Album List</h1>

        <table>
            <th:block th:each="album : ${albums}">
                <tr th:class="${album.title}">
                    <td th:text="${album}" ></td>
                    <td><img th:src="${album.imageUrl}"></td>
                    <td>X</td>
                    <!-- <script>
                        Document.getElementbyClass("${album.title}")[0].addEventListner("click", () => {
                            console.log(this.className)
                        })
                    </script> -->
                </tr>
            </th:block>
        </table>
    </main>
</body>
</html>